body{
    background:#777
}
.header{
    font-size: 14px;
}
.tab_col{
    background: #fff;
    margin-top: 30px;
}
.thead{
    font-size: 14px;
    background: blue;
    color: #fff;
}
#tbody{
    font-size: 14px;
}
button{
    font-size: 12px;
    background: blue;
    color: #fff;
    outline: none;
    border: 1px solid blue;
    border-radius: 3px;
}
button:hover{
    background: #1763dd;
}
ul{
    list-style-type: none;
}
li{
    display: inline-block;
}
.paging{
    text-align: center;
    margin: 0 auto;
}
.serial-number{
    width: 48px;
}
.bac-col{
    background: #fff;
    margin-top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}
ul{
    margin:0 auto
}
.footer{
    font-size: 14px;
    margin-bottom: 10px;
    /* margin-top: -16px; */
    /* position: absolute;
    bottom: 10px; */
}
.bac-col li{
    margin-left: 10px;
}
.page-s{
    margin-left: 10px;
}
.title{
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
    color: #fff;
}
.content{
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
}
.content-body{
    background: #fff;
}
.conten-search{
    margin-top: 10px;
    margin-bottom: -18px;
}
.search-btn{
    padding: 4px 10px;
    border: 1px solid #777;
}
.search-in{
    width: 260px;
    border: 1px solid #dee2e6;
    border-radius: 3px;
    outline: none;
}
/* 弹框样式 */
.form-horizontal{
    /* margin: 0 auto; */
    width: 600px;
    /* height: 400px; */
    /* border: 1px solid #000000; */
    padding: 10px;
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
    /* background-color: #fff; */
}
.input-box{
    width: 573px;
    margin: 0 auto;
    font-size: 14px;
}
.edit{
    /* margin-left: 10px; */
    font-size: 20px;
    background-color: #777;
    padding: 10px;
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
}
.box{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #d9d9d9;
}
.my-btn{
    padding: 4px 10px;
    border: 1px solid #777;
}
.true{
    float: right;
}
.clearfix:after{
    content:"";				/*设置内容为空*/
    height:0;				/*高度为0*/
    line-height:0;			/*行高为0*/
    display:block;			/*将文本转为块级元素*/
    visibility:hidden;		/*将元素隐藏*/
    clear:both;				/*清除浮动*/
}
.clearfix{
    zoom:1;					/*为了兼容IE*/
}
.modal-span{
    float: right;
    /* display: block; */
    cursor: pointer;
}